


<div class='cont r lead c'>
    
    <div class='cont col large end'>
        <div class='cont col hd'>
            <h1 class='c w-back hdt'>Leadership</h1>
        </div>
        
        <div class='cont col w-back nav-item-pad-bot three-point-five-pad-left three-point-five-pad-right'>
            <div class='cont col c nav-item-pad-bot'>
                <h2 class='cent'>Meet our leadership teams for the 2023-2024 school year!</h2>
                <div class='cont col'>
                    <h3>Chain of Command 2023 - 2024</h3>
                    <div class='cont r CoC'>
                        <div class='cont col'>
                            <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                            <p class='cent'>CO</p>
                        </div>
                        <div class='cont col'>
                            <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                            <p class='cent'>XO</p>
                        </div>
                        <div class='cont col'>
                            <%= image_tag "sticker_1.png", height: 100, width: 100 , class:'cent' %>
                            <p class='cent'>1st Sergeant</p>
                        </div>
                        <div class='cont col'>
                            <%= image_tag "sticker_1.png", height: 100, width: 100 , class:'cent' %>
                            <p class='cent'>Guidon</p>
                        </div>
                        <div class='cont col'>
                            <%= image_tag "sticker_1.png", height: 100, width: 100 , class:'cent' %>
                            <p class='cent'>Handler</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class='cont col b-out'>
                <div class='cont b-in nav-item-pad-bot'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Athletics 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>

                <div class='cont b-in nav-item-pad-bot'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Career Readiness 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>
                
                <div class='cont b-in nav-item-pad-bot'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Discipline 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>  

                <div class='cont b-in nav-item-pad-bot'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Inspector General 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>
                
                <div class='cont b-in nav-item-pad-bot'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ops and Logs 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>

                <div class='cont b-in nav-item-pad-bot'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Public Relations 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>

                <div class='cont b-in nav-item-pad-bot'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recruiting 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>

                <div class='cont b-in nav-item-pad-bot'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Scholastics 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>              

                <div class='cont b-in nav-item-pad-bot'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Training 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>

                <div class='cont b-in'>
                    <div class="dropdown cont col c">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        BBQ 2023 - 2024
                        </button>
                        <div class="dropdown-menu cont r nav-item-pad-top" id="dropdownMenuButton" aria-labelledby="dropdownMenuButton">
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Officer</p>
                            </div>
                            <div class='cont col'>
                                <%= image_tag "sticker_1.png", height: 100, width: 100, class:'cent' %>
                                <p class='cent'>Sergeant</p>
                            </div>
                        </div>
                    </div>
    
              
                    
                </div>

                

            </div>
        </div>
        
    </div>

    


    

    

    

    
    

    

   


</div>
