<div class="cont bckgrnd p-top w-back">
    <div class='cont-b mar-back'>
        <div class='cont-m'>
            <div class='cont wrap-start m-label'>
                <h4 class='merch'>Redass Rebel-E Merch</h4>
            </div>
            <div class="cont merch-row" >
                <%= image_tag "IMG_2587.JPG", class:'m'%>
                <%= image_tag "IMG_2588.JPG", class:'m'%>
                <%= image_tag "IMG_2589.JPG", class:'m' %>        
                <%= image_tag "IMG_2590.JPG", class:'m'%>
                <%= image_tag "short.jpg", class:'m'%>
                <%= image_tag "shirt.png", class:'m' %>
            </div>
        </div>
        <div class='cont r butt'>
            <%= link_to 'Buy Our merch Here!', 'http://mascotcompany.core-image.net', class:'merch white btn', target: :_blank %>
        </div>
    </div>
</div>
